@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@model appWeb2.Models.VideoJuego

<h2>Editar Video Juego</h2>

<form asp-action="Edit" enctype="multipart/form-data">
	<input type="hidden" asp-for="id"/>
	<div>
		<label>Titulo</label>
		<input asp-for="titulo" class="form-control"/>
		<span asp-validation-for="titulo"></span>
	</div>
	<div>
		<label>Precio</label>
		<input asp-for="precio" class="form-control" />
		<span asp-validation-for="precio"></span>
	</div>
	<div>
		<label>Categoría</label>
		<input asp-for="categoria" class="form-control" />
		<span asp-validation-for="categoria"></span>
	</div>
	<div>
		<label>Clasificacion </label>
		<input asp-for="clasificacionEdad" class="form-control" />
		<span asp-validation-for="clasificacionEdad"></span>
	</div>
	<div>
		<label>Descripcion</label>
		<textarea asp-for="descripcion" class="form-control"></textarea>
	</div>
	<div>
		<label asp-for="fechaLanzamiento" class="form-control-label">Fecha de lanzamiento</label>
		<input asp-for="fechaLanzamiento" type="date" class="form-control">
		<span asp-validation-for="fechaLanzamiento" class="text-danger"></span>
	</div>
	<div>
		<label asp-for="porcentajeDescuento" class="form-control-label">Porcentaje descuento</label>
		<input asp-for="porcentajeDescuento" type="number" step="0.01" class="form-control">
	</div>
	<div>
		<label>Imagen actual</label><br />
		<img src="@Model.imagen" width="120" />
	</div>
	<div>
		<label>Nueva imagen</label>
		<input type="file" name="archivoImagen" class="form-control" />
	</div>
	<button type="submit" class="btn btn-primary">Actualizar</button>
</form>
